$font-size: 16px;
$height: 23vw;
$height-mobile: 27vw;
$padding-mobile: 20vw;
$bck: #ffffffa3;

$shadow-container: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

$gray: #dfdddd;
$gray-darker: #424242;
$blue: #e6ffff;
$white: #fff;
$black: #000;
$fiolet: #523084;

$tablet: 769px;
$xs-mobile: 574px;
$sm-mobile: 430px;
