$font-size: 18px;

$padding-mobile: 20vw;

$shadow-container: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

// Light theme
$base-light: #FFFFFF;
$gold-light: #FFD24C;
$yellow-light: #FFE69A;
$blue-light: #92B4EC;

// Dark theme
$black: #171717;
$gray: #444444;
$gold-dark: #A27B5C;
$yellow-dark: #DCD7C9;
$white-dark: #DCD7C9;

$bp_tablet: 1024px;
$bp_tablet_m: 768px;
$bp_mobile: 480px;
