@import './variables';
@import './fonts/fonts';

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size;
  font-family: 'OpenSans-Regular', 'Montserrat-Regular', 'Devnew', sans-serif;
  font-weight: 400;
  color: $black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0.5rem 0;
  text-align: center;
}

body {
  background: linear-gradient(to right, #ddddee 0%, #babace 100%);
  overflow-x: hidden;
  overflow-y: scroll;
  background-attachment: fixed;
  perspective: 1px;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  margin-bottom: 1.042vw;
  width: 50vw;
  text-align: left;
  font-size: 1.667vw;

  @media (max-width: $xs-mobile) {
    font-size: 2.7vw;
    width: 74vw;
  }
}
