$bg: #eeeeee;
$font-size: 16px;
$padding: 30px;
$padding-mobile: 10px;

$gray: #dfdddd;
$gray-darker: #424242;
$blue: #e6ffff;
$white: #fff;
$black: #333333;
$fiolet: #523084;

$lg-screen: 1200px;
$sm-screen: 769px;
$xs-screen: 574px;
