@import '../../resources/variables';

.quot {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 3.472vw 0;
  font-family: 'Roboto-Italic';
  flex-direction: column;
  font-size: 1.667vw;
  padding: $padding;
  line-height: 2.389vw;
  @media (max-width: $xs-screen) {
    margin: 0; 
    font-size: 3.8vw;
    padding: $padding-mobile;
    line-height: 5.176vw;
  }
  span {
    align-self: flex-end;
  }
}