@import '../../resources/variables';

.grid {
  color: $white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  overflow: hidden;
  z-index: -10;
  box-shadow: $shadow-container;
  font-size: 1.389vw;
  @media (max-width: $xs-mobile) {
    font-size: 2.5vw;
  }

  a {
    color: $white;
  }

  .card-icon {
    width: 0.903vw;
    @media (max-width: $xs-mobile) {
      width: 2vw;
    }
  }

  .card-bck {
    opacity: 0.65;
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    top: 0;
    left: 0;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  &:hover > .card-bck {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  .card-content {
    z-index: 2;
    padding: 0.903vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .card_info {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      font-weight: 600;
      text-align: center;

      &:hover {
        color: rgba(white, 0.7);
        text-decoration: none;
      }
    }
    .card_footer-link {
      display: flex;
      justify-content: space-between;
    }
  }
}
