@import '../../resources/variables';

.card {
  width: 20.833vw;
  height: 27.778vw;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  @media (max-width: $xs-screen) {
    width: 25.882vw;
    height: 60vw;
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s;
    backface-visibility: hidden;
    border: 2px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width: $xs-screen) {
      border: 1px solid $black;
    }
  }

  .front {
    background-color: $white;
    img {
      width: 10.417vw;
      @media (max-width: $xs-screen) {
        width: 13.42vw;
      }
    }
    h3 {
      font-size: 2.1vw;
      line-height: 5.6vw;
      @media (max-width: $xs-screen) {
        font-size: 3.1vw;
      }
    }
  }
  .back {
    background-color: $blue;
    transform: rotateY(180deg);
    padding: $padding;
    @media (max-width: $xs-screen) {
      padding: $padding-mobile;
    }
    h3 {
      font-family: 'Callstories';
      font-size: 2.4vw;
      line-height: 3.418vw;
      @media (max-width: $xs-screen) {
        font-size: 6.1vw;
        line-height: 8.4vw;
      }
    }
    p {
      font-family: 'Roboto';
      font-size: 1.4vw;
      padding-top: 10px;
      @media (max-width: $xs-screen) {
        font-size: 3.1vw;
        padding-top: $padding-mobile;
      }
    }
  }

  &:hover .front {
    transform: rotateY(180deg);
  }
  &:hover .back {
    transform: rotateY(360deg);
  }
}
