@import '../../resources/variables';

.cards-fill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3.472vw 3.472vw;
  width: 100%;
  text-align: left;

  h3 {
    font-size: 1rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 17.361vw);
    grid-template-rows: repeat(3, 13.889vw);
    grid-gap: 0.694vw;

    @media (max-width: $xs-mobile) {
      grid-template-columns: repeat(3, 25.6vw);
      grid-template-rows: repeat(3, 18.8vw);
      grid-gap: 1.7vw;
    }

    li {
      position: relative;
      z-index: 2;
    }

    li:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    li:nth-child(5) {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }

    li:nth-child(even) {
      z-index: 2;
      background-image: linear-gradient(
        to bottom,
        rgba(#5c6bc0, 0.1),
        rgba(#5c6bc0, 0.8)
      );
    }

    li:nth-child(odd) {
      background-image: linear-gradient(
        to bottom,
        rgba(#29b6f6, 0.1),
        rgba(#29b6f6, 0.8)
      );
    }
  }
}
