@import '../../resources/variables';

.cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  padding: $padding;
  justify-content: center;
  @media (max-width: $xs-screen) {
    padding: $padding-mobile;
    grid-template-columns: repeat(2, auto);
  }
}