@import '../../resources/variables';

.about {
  width: 100vw;
  display: flex;
  align-items: flex-end;
  text-align: left;
  position: relative;
  @media (max-width: $xs-screen) {
    height: 80vh;
    // padding: $padding-mobile;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 200px;
    position: absolute;
    float: left;
    left: 178px;
    top: -85px;
    transform: rotate(-28deg);
  }
  .about-text {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $xs-screen) {
      margin-left: 0px;
    }
    p {
      font-size: 2vw;
      max-width: 595px;
      @media (max-width: $xs-screen) {
        font-size: 4vw;
      }
    }
    p:nth-child(1),
    p:nth-child(2) {
      padding-left: 140px;
    }
  }
}
