@import '../../resources/variables';

.about {
  width: 100vw;
  display: flex;
  align-items: flex-end;
  text-align: left;
  position: relative;
  font-family: 'Montserrat-Regular';
  img {
    width: 16vw;
    position: absolute;
    float: left;
    left: 15.972vw;
    top: -6.875vw;
    transform: rotate(-28deg);
    animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    @media (max-width: $xs-mobile) {
      left: 4vw;
      width: 23vw;
      top: -9.875vw;
    }
  }
  .about-text {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    text-align: center;
    h1 {
      font-size: 4vw;
      max-width: 52vw;
      @media (max-width: $xs-mobile) {
        font-size: 5vw;
        max-width: 76vw;
      }
    }
    h2 {
      font-size: 3vw;
      max-width: 52vw;
      text-align: center;
      @media (max-width: $xs-mobile) {
        font-size: 5vw;
        max-width: 76vw;
      }
    }

    p {
      font-size: 2vw;
      max-width: 52vw;

      @media (max-width: $xs-mobile) {
        font-size: 3vw;
        max-width: 74vw;
      }
    }
    p:nth-child(1),
    p:nth-child(2) {
      padding-left: 9.722vw;

      @media (max-width: $xs-mobile) {
        padding-left: 13.22vw;
      }
    }
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(-28deg);
    transform: translateY(0) rotate(-28deg);
    opacity: 1;
  }
}
