@import '../../resources/variables';

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.472vw 0;
  width: 100%;
  text-align: left;
  color: $white;
  overflow: hidden;
  position: relative;

  @media (max-width: $xs-mobile) {
    min-height: 15vh;
  }
  .footer-bck {
    z-index: -99;
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }

  .contact-text {
    width: 50vw;
    @media (max-width: $xs-mobile) {
      width: 74vw;
    }

    h2 {
      font-weight: 500;
      font-size: 1.667vw;
      @media (max-width: $xs-mobile) {
        font-size: 2.5vw;
      }
    }
  }
  .link {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(4, 4.167vw);
    grid-template-rows: 4.167vw;
    grid-gap: 1.389vw;
    justify-content: center;
    @media (max-width: $xs-mobile) {
      grid-template-columns: repeat(4, 9.1vw);
      grid-template-rows: 9.1vw;
      grid-gap: 5.8vw;
    }

    a {
      background-color: #29b6f600;
      border-radius: 3px;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      transition: 0.3s ease;
      align-items: center;
      align-content: center;
      display: flex;
      justify-content: center;

      @media (max-width: $xs-mobile) {
        background-color: #5f641430;
      }

      img {
        width: 2.389vw;
        @media (max-width: $xs-mobile) {
          width: 4.7vw;
        }
      }

      &:hover {
        transform: translateY(-0.694vw);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(41, 182, 246, 0.37) 100%
        );
      }
    }
  }
}
