@import '../../resources/variables';

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
  text-align: left;
  color: $white;
  overflow: hidden;
  position: relative;
  // box-shadow: $shadow-container;
  background: linear-gradient(to bottom, rgba($bck, 0.5), rgba(#29b6f6, 0.4));
  .footer-bck {
    z-index: -99;
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }

  .contact-text {
    width: 680px;
  }
  .link {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1.25vw;
    @media (max-width: $xs-screen) {
      grid-template-columns: repeat(2, auto);
    }

    a {
      background-color: $white;
      padding: 12px 18px;
      border: 1px solid #c2c2c2;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      transition: 0.3s ease;
      align-items: center;
      align-content: center;
      display: flex;

      img {
        width: 20px;
      }

      &:hover {
        background-color: $blue;
      }
    }
  }
}
