@import "../../resources/variables";

.contact {
    display: flex;
    flex-direction: column;
    padding: 3.472vw 0;
    width: 100%;

    .contact-text {
        margin-bottom: 16px;
        text-align: center;
        font-family: "Permanent Marker", serif;
        width: 100%;

        @media (max-width: $bp_mobile) {
            white-space: pre;
            font-size: 16px;
        }
    }

    .link {
        z-index: 5;
        display: flex;
        justify-content: center;

        @media (max-width: $bp_mobile) {
            flex-wrap: wrap;
        }

        .link__wrapper {
            width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;

            & + .link__wrapper {
                margin-left: 16px;
            }

            @media (max-width: $bp_mobile) {
                min-width: 31%;

                & + .link__wrapper {
                    margin-left: 8px;
                }
            }
        }

        a {
            transition: 0.3s ease;
            align-items: center;
            align-content: center;
            display: flex;
            justify-content: center;
            width: 64px;
            height: 64px;

            &:hover {
                transform: translateY(-0.694vw);
            }

            img {
                width: 100%;
            }
        }
    }
}
