@import '../../resources/variables';

.Header {
  width: 100vw;
  height: $height;
  background-color: $bck;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid $black;
  text-align: center;
  box-shadow: $shadow-container;

  @media (max-width: $xs-mobile) {
    height: $height-mobile;
    min-height: 15vh;
  }

  .custom-canvas,
  canvas {
    width: 40vw;
    height: 16vw;

    @media (max-width: $xs-mobile) {
      width: 64vw;
      height: 20vw;
    }
  }

  .header-mantra {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    font-family: 'Devnew';
    font-size: 4vw;
    font-weight: 400;
    line-height: 6vw;
  }
}
