@import '../../resources/variables';

.Header {
  width: 100vw;
  height: $height;
  background-color: $bck;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid $black;
  text-align: center;
  box-shadow: $shadow-container;

  @media (max-width: $xs-mobile) {
    height: $height-mobile;
    min-height: 15vh;
  }

  .header-image {
    width: 28vw;
    height: 14.4vw;
    overflow: hidden;

    img {
      width: 100%;
      animation: rotate-mandala 78s linear infinite both;
      opacity: 0.8;
    }

    @media (max-width: $xs-mobile) {
      width: 64vw;
      height: 20vw;
    }
  }

  .header-mantra {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    font-family: 'Devnew';
    font-size: 4vw;
    font-weight: 400;
    line-height: 6vw;
  }
}

@keyframes rotate-mandala {
  to {
    transform: rotate(360deg);
  }
}
