@font-face {
  font-family: "Callstories";
  src: url("./Callstories.ttf");
}

@font-face {
  font-family: "Kiona-Bold";
  src: url("./Kiona-Bold.ttf");
}
 
@font-face {
  font-family: "Kiona-Light";
  src: url("./Kiona-Light.ttf");
}

@font-face {
  font-family: "Kiona-Regular";
  src: url("./Kiona-Regular.ttf");
}