@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Devnew';
  src: url('./Devnew.ttf');
}
