@font-face {
  font-family: "Callstories";
  src: url("./Callstories.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("./Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Kiona-Regular";
  src: url("./Kiona-Regular.ttf");
}