@import './resources/variables';

.App {
  width: 100vw;
  height: 100vh;
  .cursor {
    width: 2rem;
    height: 2rem;
    border: 1px solid $gray;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: -1;
  
    &.link-grow {
      transform: scale(3);
      border: none;
      background: $black;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $gray;
  
    .title {
      margin-top: 50px;
      font-size: 5rem;
      font-family: 'Kiona-Bold';
      cursor: default;
      transition: color 0.3s ease;
      &.hovered-title {
        color: $white;
      }
    } 
    &:hover {
      color: $black;
    }

  }
}
