@import './resources/variables';

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  .parallax__layer-back {
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    overflow-x: hidden;
    .videoTag {
      min-width: 100vw;
      min-height: 100vh;

      @media (max-width: $sm-screen) {
        max-height: 100vh;
      }
    }
  }

  .app-content {
    width: 100%;
    background-color: $bck;
    box-shadow: $shadow-container;
    margin: ($height - 7vw) 0 ($height - 12vw);
  }
}
